# Dependencies
node_modules/
.pnpm-store/
.npm/
.yarn/

# Build
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.cache/
.vercel
/apps/api/storage/*.key
/apps/api/vendor/
/apps/web/node_modules/
/apps/api/node_modules/
